body{ margin: 0px;
    padding: 0px;    
    background-color: rgb(255, 247, 247);
    color: rgb(139, 134, 134);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
    
    #navbar{ 
    margin: 0px;
    padding: 2px;
    background-color: rgb(179, 174, 174);
    color: rgb(0, 0, 0);
    }
    .amarela{
    background-color: yellow;
    padding: 8px;
    padding-bottom: 8px;
    }
    .cinza{
        background-color: rgb(178, 178, 179);
        padding: 15px;
    padding-bottom: 15px;
    }
    .cinzas{
        background-color: rgb(178, 178, 179);
        padding: 5px;
        padding-bottom: 5px;
        margin: 5px;
       border-color: gray;
       border-style: solid;
       color: black;
    }

    .flex{
        display: flex;
    }